h1 {
  font-size: calc(10px + 2vw);
}
h2 {
  font-size: calc(10px + 1vw);
}

.light {
  color: black;
}
.dark {
  color: white;
}

.App {
  text-align: center;
}

.UserInterface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: gray;
}